Django==4.2.13
langgraph==0.2.39
langchain==0.3.30
langchain-core==0.3.86
langchain-community==0.3.31
langchain-cohere==0.3.1
cohere==5.21.1
python-dotenv==1.0.1
folium==0.20.0
fuzzywuzzy==0.18.0
uvicorn==0.30.5
